<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion appHide"
	id="accordionSidebar"
>
	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		href="index.html"
	>
		<!-- <div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div> -->
		<div class="sidebar-brand-text mx-3">
			<img src="/assets/img/finant/logo.png" alt="" width="150px" />
		</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item">
		<a class="nav-link" [routerLink]="['/']">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Heading -->
	<div class="sidebar-heading">Interface</div>
	<!-- active -->
	<li class="nav-item" routerLinkActive="active" *ngFor="let item of menus">
		<a class="nav-link" [routerLink]="['/' + item?.ds_url]">
			<i class="fa fa-{{ item.icon }}"></i>
			<span>{{ item.no_rotina }}</span>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>


<div class="menuApp shadow desktopHide">
	<div class="items">
		<ng-container *ngFor="let item of menus">
			<div class="item" *ngIf="item.bo_mostrar_app">
				<a [routerLink]="['/' + item?.ds_url]">
					<i routerLinkActive="menuAppActive" class="iconMenu fa fa-{{ item.icon }}"></i>
				</a>
			</div>
		</ng-container>
		<ul>
		<li class="nav-item dropdown no-arrow">
			<a
				class="nav-link dropdown-toggle nav-link-app"
				href="#"
				id="userDropdown"
				role="button"
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<span class="mr-2 d-none d-lg-inline text-gray-600 small">
					{{ pessoa.no_pessoa }}
				</span>
				<img
					class="img-profile-menuapp rounded-circle"
					src="{{ PATHAPI }}/{{ pessoa?.img_perfil }}"
				/>
			</a>
			<!-- Dropdown - User Information -->
			<div
				class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
				aria-labelledby="userDropdown"
			>
				<a class="dropdown-item" href="#">
					<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
					Profile
				</a>
				<a class="dropdown-item" href="#">
					<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
					Settings
				</a>
				<a class="dropdown-item" href="#">
					<i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
					Activity Log
				</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item cursor-pointer" (click)="logout()">
					<i
						class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
					></i>
					Logout
				</a>
			</div>
		</li>
	</ul>
	</div>
</div>
