.data {
	padding: 15px 55px;
	border-radius: 20px;
	border: 2px solid #4e73df;
	color: #4e73df;
	font-weight: bold;
	margin: 0 auto;
}
.valorResumo {
	font-size: 2em;
	text-align: right;
}
.iconResumo {
	font-size: 2em;
	position: absolute;
	top: -17px;
	/* left: -2px; */
}
.iconResumo2 {
	font-size: 2em;
	position: absolute;
	top: -17px;
	left: -2px;
}
.iconShared {
	font-size: 4em;
	position: absolute;
	top: 40px;
	left: 6px;
	opacity: 0.07;
}
