<div class='row'>
	<div class='col-md-12'>
		<!-- general form elements -->
		<div class='box box-primary'>
			<div class='box-header with-border'>
				<h3 class='box-title'>Amigos</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<div class='bs-example' data-example-id='horizontal-dl'>
				<dl class='dl-horizontal'>

					<dt>id_usuario</dt>
					<dd>{{amigos?.id_usuario}}</dd>

					<dt>id_pessoa</dt>
					<dd>{{amigos?.id_pessoa}}</dd>

					<dt>created_at</dt>
					<dd>{{amigos?.created_at}}</dd>

					<dt>updated_at</dt>
					<dd>{{amigos?.updated_at}}</dd>

					<dt>situacao</dt>
					<dd>{{amigos?.situacao}}</dd>

				</dl>
			</div>
			<div *ngIf='loader' class='loader'></div>
		</div>
	</div>
</div>
