<div class="row">
	<div class="col-md-2 col-hd-1"></div>
	<div class="despesa card shadow col-md-8 col-hd-10">
		<div class="menu">
			<!-- menu cartão ou conta -->
			<div class="row">
				<!-- <div class="col-md-12">
					Larçar
				</div> -->
				<div class="col-md-6 text-center cartao">
					<div
						class="padding-15 cursor-pointer card shadow"
						[ngClass]="{
							'bg-gradient-primary text-white': despesaCartaoCredito
						}"
						(click)="
							oqueLancar('Despesa em cartão de crédito', 'dcc')
						"
					>
						Despesa em cartão de crédito
					</div>
				</div>
				<div class="col-md-6 text-center conta">
					<div
						class="padding-15 cursor-pointer card shadow"
						[ngClass]="{
							'bg-gradient-primary text-white': despesaConta
						}"
						(click)="oqueLancar('Despesa em conta', 'dct')"
					>
						Despesa em conta
					</div>
				</div>
			</div>
		</div>

		<form
			[formGroup]="formCartaoCredito"
			novalidate
			*ngIf="despesaCartaoCredito || despesaConta"
		>
			<div class="row">
				<div
					class="form-group is-empty col-md-4"
					*ngIf="despesaCartaoCredito"
				>
					<app-input-container
						errorMessage="Campo obrigatório"
						label="Cartão de crédito"
					>
						<ng-select
							[items]="cartoes"
							bindLabel="no_cartao_credito"
							bindValue="id_cartao_credito"
							formControlName="id_cartao_credito"
							(change)="cartaoEscolhido()"
						>
						</ng-select>
					</app-input-container>
				</div>
				<div
					class="form-group is-empty col-md-8"
					*ngIf="despesaCartaoCredito"
				>
					<!-- {{cartaoEscolhidoParaLancamento | json}} -->
					<div
						class="row"
						*ngIf="cartaoEscolhidoParaLancamento?.dia_vencimento"
					>
						<div class="col-md-12 padding-0">
							<h3>Dados do cartão</h3>
						</div>
						<div class="card margin-top-0">
							<span style="font-weight: bold"
								>Dia vencimento</span
							>
							<span style="text-align: center; font-size: 1.2em">
								{{
									cartaoEscolhidoParaLancamento?.dia_vencimento
								}}
							</span>
						</div>
						<div class="card margin-top-0">
							<span style="font-weight: bold"
								>Fechamento da fatura</span
							>
							<span style="text-align: center; font-size: 1.2em">
								{{
									cartaoEscolhidoParaLancamento?.dia_fechamento_fatura
								}}
							</span>
						</div>
					</div>
				</div>
				<div class="form-group is-empty col-md-12">
					<app-input-container
						errorMessage="Campo obrigatório"
						label="Despesa"
					>
						<input
							(keyup)="
								procurarNomeDespesa(
									formCartaoCredito.value.ds_despesa
								)
							"
							class="form-control"
							formControlName="ds_despesa"
							placeholder=""
						/>
					</app-input-container>

					<div class="row" style="margin-top: -10px">
						<div
							class="card cursor-pointer"
							*ngFor="let item of ajudasFiltro"
							style="margin: 5px 5px"
							(click)="escolherFiltro(item)"
						>
							<div>
								{{ item?.ds_despesa }}
							</div>
						</div>
					</div>
				</div>

				<div class="form-group is-empty col-md-4">
					<app-input-container
						errorMessage="Campo obrigatório"
						label="Valor"
					>
						<input
							class="form-control"
							formControlName="vl_despesac"
							placeholder=""
							(change)="setValorRemanescente(0)"
							mask="separator.2"
							[thousandSeparator]="'.'"
							[decimalMarker]="','"
							prefix="R$ "
						/>
					</app-input-container>
				</div>

				<div class="form-group is-empty col-md-4">
					<button class="btn dayMenos" (click)="configureDia('-')">
						<i class="fa fa-minus"></i>
					</button>
					<button class="btn dayMais" (click)="configureDia('+')">
						<i class="fa fa-plus"></i>
					</button>

					<app-input-container
						errorMessage="Campo obrigatório"
						label="Data da compra"
					>
						<input
							(change)="cartaoEscolhido()"
							class="form-control text-center"
							formControlName="dt_despesa"
							placeholder=""
							mask="dX/M0/0000"
						/>
					</app-input-container>
					<small
						style="position: absolute; top: 88px"
						*ngIf="despesaCartaoCredito"
					>
						Importante para sabermos em qual fatura lançar <br />
						<span *ngIf="vencimento"
							>(Primeiro pagamento será em {{ vencimento }})</span
						>
					</small>
				</div>

				<div class="form-group is-empty col-md-4" *ngIf="despesaConta">
					<button
						class="btn dayMenos"
						(click)="configureDiaVencimento('-')"
					>
						<i class="fa fa-minus"></i>
					</button>
					<button
						class="btn dayMais"
						(click)="configureDiaVencimento('+')"
					>
						<i class="fa fa-plus"></i>
					</button>

					<app-input-container
						errorMessage="Campo obrigatório"
						label="Data de vencimento"
					>
						<input
							class="form-control text-center"
							formControlName="dt_vencimento"
							placeholder=""
							mask="dX/M0/0000"
						/>
					</app-input-container>
				</div>

				<div class="form-group is-empty col-md-4 selectDespesa">
					<app-input-container
						errorMessage="Campo obrigatório"
						label="Categoria"
					>
						<ng-select
							[items]="categorias"
							bindLabel="no_categoria_despesa"
							bindValue="id_categoria_despesa"
							groupBy="pai"
							formControlName="id_categoria_despesa"
						>
							<ng-template ng-optgroup-tmp let-item="item">
								{{ item.pai }}
							</ng-template>
							<ng-template ng-label-tmp let-item="item">
								<i class="{{ item.icon }}"></i>
								{{ item.no_categoria_despesa }}
							</ng-template>

							<ng-template
								ng-option-tmp
								let-item="item"
								let-index="index"
								let-search="searchTerm"
							>
								<i class="{{ item.icon }}"></i>
								{{ item.no_categoria_despesa }}
							</ng-template>
						</ng-select>
					</app-input-container>
				</div>

				<div class="form-group is-empty col-md-4">
					<ng-container
						*ngIf="despesaCartaoCredito; else elseTemplate"
					>
						<app-input-container
							errorMessage="Campo obrigatório"
							label="Tipo"
						>
							<ng-select
								[items]="tiposCartao"
								bindLabel="no_tipo_despesa"
								bindValue="id_tipo_despesa"
								formControlName="id_tipo_despesa"
							>
							</ng-select>
						</app-input-container>
					</ng-container>
					<ng-template #elseTemplate>
						<app-input-container
							errorMessage="Campo obrigatório"
							label="Tipo"
						>
							<ng-select
								[items]="tiposConta"
								bindLabel="no_tipo_despesa"
								bindValue="id_tipo_despesa"
								formControlName="id_tipo_despesa"
							>
							</ng-select>
						</app-input-container>
					</ng-template>
				</div>

				<div
					class="form-group is-empty col-md-3"
					*ngIf="formCartaoCredito.value.id_tipo_despesa == 2"
				>
					<app-input-container
						errorMessage="Campo obrigatório"
						label="Quantas vezes"
					>
						<input
							type="number"
							class="form-control"
							formControlName="qtd_parcelas"
							placeholder=""
						/>
					</app-input-container>
				</div>
			</div>

			<hr />

			<div class="row">
				<div class="form-group is-empty col-md-12">
					<app-input-container
						errorMessage="Campo obrigatório"
						label="Dividir com amigo"
					>
						<div class="onoffswitch">
							<input
								type="checkbox"
								formControlName="bo_dividir_amigos"
								class="onoffswitch-checkbox"
								id="myonoffswitch2"
								checked
							/>
							<label
								class="onoffswitch-label"
								for="myonoffswitch2"
							></label>
						</div>
						<div
							class="row"
							*ngIf="formCartaoCredito.value.bo_dividir_amigos"
						>
							<div class="card">
								Valor remanescente: {{ valorRemanescente }}
							</div>
							<div class="card">
								Pessoas envolvidas:
								{{
									formCartaoCredito.get("dividirPessoas")
										.controls.length
								}}
							</div>
							<div
								class="card"
								*ngIf="
									formCartaoCredito.get('dividirPessoas')
										.controls.length > 1
								"
							>
								Caso queira dividir igual ficará
								{{
									formCartaoCredito.value.vl_despesac /
										formCartaoCredito.get("dividirPessoas")
											.controls.length
										| currency: "BRL":true:"0.1-3"
								}}
								para cada
							</div>
						</div>
					</app-input-container>
					<div class="row">
						<ng-container
							*ngIf="formCartaoCredito.value.bo_dividir_amigos"
						>
							<div
								class="col-md-3"
								style="padding-bottom: 1.5rem"
								*ngFor="
									let itemDividir of formCartaoCredito.get(
										'dividirPessoas'
									).controls;
									let j = index
								"
							>
								<div [formGroup]="itemDividir">
									<div class="card-1">
										<img
											src="{{ PATHAPI }}/{{
												itemDividir?.value.img_perfil
											}}"
											alt="Avatar"
											style="
												width: 100%;
												height: 100%;
												/* border-radius: 50%; */
											"
										/>
										<div class="">
											<h5 class="text-center">
												<b>{{
													itemDividir.value.no_pessoa
												}}</b>
											</h5>
											<p>{{ itemDividir.value.email }}</p>
											<div class="form-group">
												<label for="formControlRange"
													>Valor à pagar</label
												>
												<input
													type="text"
													class="form-control"
													formControlName="valor"
													mask="separator.2"
													[thousandSeparator]="'.'"
													[decimalMarker]="','"
													prefix="R$ "
													(change)="
														mudandoValorParaCada(
															itemDividir,
															j
														)
													"
													placeholder=""
													style="padding: 5px"
													value=""
												/>
											</div>
											<!-- <div class="valorAPagar">
												R$ {{ itemDividir.value.valor }}
											</div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3 acoesEscolherAmigo">
								<button
									class="btn btnEscolherAmigo border w-100"
									data-toggle="modal"
									data-target="#escolherAmigosDividirModal"
								>
									Escolher amigo
								</button>
								<button
									class="btn btnEscolherAmigo border w-100 margin-top-5"
									data-toggle="modal"
									data-target="#escolherAmigosForaDividirModal"
								>
									Pessoa fora do sistema
								</button>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<div class="box-footer col-md-12">
				<ng-container
					*ngIf="despesaCartaoCredito; else elseTemplateSalvarConta"
				>
					<button
						(click)="salvarCartaoCredito(formCartaoCredito.value)"
						[disabled]="!formCartaoCredito.valid"
						class="btn btn-primary"
					>
						Salvar
					</button>
				</ng-container>
				<ng-template #elseTemplateSalvarConta>
					<button
						(click)="salvarConta(formCartaoCredito.value)"
						[disabled]="!formCartaoCredito.valid"
						class="btn btn-primary"
					>
						Salvar
					</button>
				</ng-template>
			</div>
		</form>
	</div>
</div>

<div
	class="modal fade"
	id="escolherAmigosDividirModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Escolha amigos para dividir a conta
				</h5>
				<button
					class="close"
					type="button"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- MODAL ESCOLHER AMIGO PARA DIVIDIR A CONTA -->
				<!-- escolher amigo para dividir -->
				<div
					class="row"
					*ngIf="formCartaoCredito.value.bo_dividir_amigos"
				>
					<!-- input -->
					<div class="col-md-3"></div>
					<div class="input-group col-md-6">
						<input
							type="text"
							class="form-control bg-light border-0 small"
							placeholder="Nome"
							aria-label="Search"
							aria-describedby="basic-addon2"
							[(ngModel)]="nomePessoaModel"
						/>
						<div class="input-group-append">
							<button
								class="btn btn-primary"
								type="button"
								(click)="procurarPessoa()"
							>
								<i class="fas fa-search fa-sm"></i>
							</button>
						</div>
						<!-- input -->
					</div>

					<div class="col-md-12 margin-top-15">
						<h3 *ngIf="pessoas?.length">
							Resultados
							<a
								href="#"
								class="btn btn-primary btn-circle btn-sm"
							>
								{{ pessoas?.length }}
							</a>
						</h3>
						<div *ngIf="fimCarregamentoProcurarPessoa">
							{{ fimCarregamentoProcurarPessoa }}:
							<b>{{ nomePessoaModel }}</b>
						</div>
					</div>
				</div>
				<div class="row">
					<div
						class="col-md-3"
						style="padding-bottom: 1.5rem"
						*ngFor="let item of amigosFiltrado"
					>
						<div class="card-1" *ngIf="item.situacao == 'a'">
							<img
								src="{{ PATHAPI }}/{{ item?.img_perfil }}"
								alt="Avatar"
								style="width: 100%; border-radius: 50%"
							/>
							<div class="">
								<h5 class="text-center">
									<b>{{ item.no_pessoa }}</b>
								</h5>
								<p>{{ item.email }}</p>
								<button
									class="btn w-100 border"
									(click)="dividirComAmigo(item)"
								>
									Dividir conta com amigo
								</button>
							</div>
						</div>
					</div>
				</div>

				<!-- fim escolher amigo para dividir -->
			</div>
		</div>
	</div>
</div>

<div
	class="modal fade"
	id="escolherAmigosForaDividirModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					Escolha pessoa fora da sua lista de amigos para dividir a
					conta
				</h5>
				<button
					class="close"
					type="button"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- MODAL ESCOLHER AMIGO PARA DIVIDIR A CONTA -->
				<!-- escolher amigo para dividir -->
				<div
					class="row"
					*ngIf="formCartaoCredito.value.bo_dividir_amigos"
				>
					<div class="col-md-12 margin-top-15">
						<h3 *ngIf="pessoas?.length">
							Resultados
							<a
								href="#"
								class="btn btn-primary btn-circle btn-sm"
							>
								{{ pessoas?.length }}
							</a>
						</h3>
						<div *ngIf="fimCarregamentoProcurarPessoa">
							{{ fimCarregamentoProcurarPessoa }}:
							<b>{{ nomePessoaModel }}</b>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- cadastrar novo "amigo" -->
					<div class="col-md-3" style="padding-bottom: 1.5rem">
						<div class="card-1">
							<div>
								<label for="">Cadastrar nova pessoa</label>
								<input
									style="
										font-size: 1em !important;
										padding: 25px 7px 25px 7px;
									"
									class="form-control"
									[(ngModel)]="novaPessoaModel"
									placeholder=""
								/>
								<button
									class="btn w-100 border"
									(click)="cadastrarNovaPessoaForaAmigo()"
								>
									Cadastrar e dividir conta com amigo
								</button>
							</div>
						</div>
					</div>
					<!-- fim cadastrar novo "amigo" -->
					<div
						class="col-md-3"
						style="padding-bottom: 1.5rem"
						*ngFor="let item of amigosForaSistema"
					>
						<div class="card-1">
							<img
								src="{{ PATHAPI }}/{{ item?.img_perfil }}"
								alt="Avatar"
								style="width: 100%"
							/>
							<div class="">
								<h5 class="text-center">
									<b>{{ item.no_pessoa }}</b>
								</h5>
								<p>{{ item.email }}</p>
								<button
									class="btn w-100 border"
									(click)="dividirComAmigo(item)"
								>
									Dividir conta com amigo
								</button>
							</div>
						</div>
					</div>
				</div>
				<!-- fim escolher amigo para dividir -->
			</div>
		</div>
	</div>
</div>
