@media (min-width: 800px) and (max-width: 1500px) {
	/* @media (min-width: 1700px) { */
	.col-hd {
		flex-basis: 0;
		flex-grow: 1;
		max-width: 100%;
	}
	.col-hd-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: none;
	}
	.col-hd-1 {
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-hd-2 {
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-hd-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-hd-4 {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-hd-5 {
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-hd-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-hd-7 {
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-hd-8 {
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-hd-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-hd-10 {
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-hd-11 {
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-hd-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.order-hd-first {
		order: -1;
	}
	.order-hd-last {
		order: 13;
	}
	.order-hd-0 {
		order: 0;
	}
	.order-hd-1 {
		order: 1;
	}
	.order-hd-2 {
		order: 2;
	}
	.order-hd-3 {
		order: 3;
	}
	.order-hd-4 {
		order: 4;
	}
	.order-hd-5 {
		order: 5;
	}
	.order-hd-6 {
		order: 6;
	}
	.order-hd-7 {
		order: 7;
	}
	.order-hd-8 {
		order: 8;
	}
	.order-hd-9 {
		order: 9;
	}
	.order-hd-10 {
		order: 10;
	}
	.order-hd-11 {
		order: 11;
	}
	.order-hd-12 {
		order: 12;
	}
	.offset-hd-0 {
		margin-left: 0;
	}
	.offset-hd-1 {
		margin-left: 8.333333%;
	}
	.offset-hd-2 {
		margin-left: 16.666667%;
	}
	.offset-hd-3 {
		margin-left: 25%;
	}
	.offset-hd-4 {
		margin-left: 33.333333%;
	}
	.offset-hd-5 {
		margin-left: 41.666667%;
	}
	.offset-hd-6 {
		margin-left: 50%;
	}
	.offset-hd-7 {
		margin-left: 58.333333%;
	}
	.offset-hd-8 {
		margin-left: 66.666667%;
	}
	.offset-hd-9 {
		margin-left: 75%;
	}
	.offset-hd-10 {
		margin-left: 83.333333%;
	}
	.offset-hd-11 {
		margin-left: 91.666667%;
	}
}
