
<div class='row'>
	<div class='col-md-12'>
		<!-- general form elements -->
		<div class='box box-primary'>
			<div class='box-header with-border'>
				<h3 class='box-title'>Despesa</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			<form [formGroup]='form' novalidate>
				<div class='box-body'>
					
					<div class='form-group is-empty col-md-4'>
						<label class="control-label" for='vl_despesac'>vl_despesac</label>
						<app-input-container errorMessage='Campo obrigatório' label='vl_despesac'>
							<input class='form-control' formControlName='vl_despesac' placeholder=''>
						</app-input-container>
					</div>

					<div class='form-group is-empty col-md-4'>
						<label class="control-label" for='dt_despesa'>dt_despesa</label>
						<app-input-container errorMessage='Campo obrigatório' label='dt_despesa'>
							<input class='form-control' formControlName='dt_despesa' placeholder=''>
						</app-input-container>
					</div>

					<div class='form-group is-empty col-md-4'>
						<label class="control-label" for='ds_despesa'>ds_despesa</label>
						<app-input-container errorMessage='Campo obrigatório' label='ds_despesa'>
							<input class='form-control' formControlName='ds_despesa' placeholder=''>
						</app-input-container>
					</div>

					<div class='form-group is-empty col-md-4'>
						<label class="control-label" for='bo_dividir_amigos'>bo_dividir_amigos</label>
						<app-input-container errorMessage='Campo obrigatório' label='bo_dividir_amigos'>
							<input class='form-control' formControlName='bo_dividir_amigos' placeholder=''>
						</app-input-container>
					</div>

					<div class='form-group is-empty col-md-4'>
						<label class="control-label" for='id_tipo_despesa'>id_tipo_despesa</label>
						<app-input-container errorMessage='Campo obrigatório' label='id_tipo_despesa'>
							<input class='form-control' formControlName='id_tipo_despesa' placeholder=''>
						</app-input-container>
					</div>

					<div class='form-group is-empty col-md-4'>
						<label class="control-label" for='id_categoria_despesa'>id_categoria_despesa</label>
						<app-input-container errorMessage='Campo obrigatório' label='id_categoria_despesa'>
							<input class='form-control' formControlName='id_categoria_despesa' placeholder=''>
						</app-input-container>
					</div>

					<div class='form-group is-empty col-md-4'>
						<label class="control-label" for='id_usuario'>id_usuario</label>
						<app-input-container errorMessage='Campo obrigatório' label='id_usuario'>
							<input class='form-control' formControlName='id_usuario' placeholder=''>
						</app-input-container>
					</div>

				</div>
				<!-- /.box-body -->

				<div class='box-footer col-md-12'>
					<button (click)='save(form.value)' [disabled]='!form.valid' class='btn btn-primary'>Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>
