
<div class="row">
	<div class="col-xs-12">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">amigos</h3>
			</div>

			<!--Data Table-->
			<!--===================================================-->
			<div class="panel-body">
				<div class="pad-btm form-inline">
					<div class="row">
						<div class="col-sm-6 table-toolbar-left">
							<a [routerLink]="['/amigos/incluir']"> <button class="btn btn-purple"><i class="pli-add icon-fw"></i>Add</button></a>
							<button class="btn btn-default print"><i class="pli-printer icon-lg"></i></button>
							<div class="btn-group">
								<button class="btn btn-default" data-target="#sm-modal_amigos" data-toggle="modal"><i class="pli-information icon-lg"></i></button>
								<button class="btn btn-default"><i class="pli-trash icon-lg"></i></button>
							</div>
						</div>
						<div class="col-sm-6 table-toolbar-right">
							<div class="form-group">
								<input type="text" autocomplete="off" class="form-control" placeholder="Search" id="input-search2">
							</div>
							<div class="btn-group">
								<button class="btn btn-default"><i class="pli-download-from-cloud icon-lg"></i></button>
								<div class="btn-group dropdown">
									<button class="btn btn-default btn-active-primary dropdown-toggle" data-toggle="dropdown">
										<i class="pli-check"></i>
									</button>

									<ul class="keep-open dropdown-menu dropdown-menu-right" role="menu">
										<li class="open cursor-pointer" role="menuitem" *ngFor="let column of columns  | keyvalue" (click)="hideshowColumns(column.key)"> 
											<ng-container *ngIf="column.value.show; else elseTemplate"> <i class="far fa-check-square"></i> </ng-container>
											<ng-template #elseTemplate> <i class="far fa-square"></i> </ng-template>
											{{column.value.name}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="table-responsive">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th *ngIf="columns?.id_amigos.show"><span class="cursor-pointer" (click)="orderby('id')">id_amigos<i [className]="order?.id | helpers:'iconorder'"></i> </span></th>
								<th *ngIf="columns?.id_usuario.show"><span class="cursor-pointer" (click)="orderby('id')">id_usuario<i [className]="order?.id | helpers:'iconorder'"></i> </span></th>
								<th *ngIf="columns?.id_pessoa.show"><span class="cursor-pointer" (click)="orderby('id')">id_pessoa<i [className]="order?.id | helpers:'iconorder'"></i> </span></th>
								<th *ngIf="columns?.created_at.show"><span class="cursor-pointer" (click)="orderby('id')">created_at<i [className]="order?.id | helpers:'iconorder'"></i> </span></th>
								<th *ngIf="columns?.updated_at.show"><span class="cursor-pointer" (click)="orderby('id')">updated_at<i [className]="order?.id | helpers:'iconorder'"></i> </span></th>
								<th *ngIf="columns?.situacao.show"><span class="cursor-pointer" (click)="orderby('id')">situacao<i [className]="order?.id | helpers:'iconorder'"></i> </span></th>
								
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let amigo of amigos">
								 <td *ngIf="columns?.id_amigos.show">{{amigo?.id_amigos}}</td>
								 <td *ngIf="columns?.id_usuario.show">{{amigo?.id_usuario}}</td>
								 <td *ngIf="columns?.id_pessoa.show">{{amigo?.id_pessoa}}</td>
								 <td *ngIf="columns?.created_at.show">{{amigo?.created_at}}</td>
								 <td *ngIf="columns?.updated_at.show">{{amigo?.updated_at}}</td>
								 <td *ngIf="columns?.situacao.show">{{amigo?.situacao}}</td>
								
                                
                                <td>
                                    <i class="iconsListOptions pli-magnifi-glass" routerLink="/amigos/detalhar/{{amigo?.id_amigos}}"></i>
                                    <i class="iconsListOptions pli-pencil" routerLink="/amigos/alterar/{{amigo?.id_amigos}}"></i>
                                    <i class="iconsListOptions pli-trash" (click)="inativar(amigo)"></i>
								</td>

							</tr>

						</tbody>
					</table>
				</div>


				<hr class="new-section-xs">
				<div class="pull-right">
					<ul class="pagination text-nowrap mar-no">
						<li class="page-pre disabled">
							<a href="">&lt;</a>
						</li>
						<li class="page-number active">
							<span>1</span>
						</li>
						<li class="page-number">
							<a href="">2</a>
						</li>
						<li class="page-number">
							<a href="">3</a>
						</li>
						<li>
							<span>...</span>
						</li>
						<li class="page-number">
							<a href="">9</a>
						</li>
						<li class="page-next">
							<a href="">&gt;</a>
						</li>
					</ul>
				</div>
			</div>
			<!--===================================================-->
			<!--End Data Table-->

		</div>
	</div>
</div>


<!--============== Small Bootstrap Modal =====================================-->
<div id="sm-modal_amigos" class="modal fade" tabindex="-1">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
				<h4 class="modal-title" id="mySmallModalLabel">Trocar Texto</h4>
			</div>
			<div class="modal-body">
				<p>Crie apelidos para frases. Quando você digitar o apelido faremos todo trabalho pesado <i class="iconesExemplos pli-happy"></i></p>
			</div>
		</div>
	</div>
</div>
<!--===================================================-->
<!--End Small Bootstrap Modal-->

