.action {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: right;
	display: flex;
	flex-direction: row-reverse;
}
.action .item {
	display: flex;

	align-content: center;

	width: 30px;
	height: 30px;
	/* border: 1px solid #d3d3d3; */
	cursor: pointer;
}

.action .item i {
	flex: 1;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}
.itemRemove {
	border-radius: 0px 4px 0px 0;
	color: #fff;
	background: #e74a3b;
}
.itemAdd {
	border-radius: 0px 4px 0px 0;
	color: #fff;
	color: #1ad274;
	/* background: #1ad274; */
}
.itemRemove:hover {
	color: #fff;
	background: #cf3021;
}
.itemAdd:hover {
	color: #fff;
	background: #07c060;
}

.catPai {
	font-size: 2em;
	margin-bottom: 0;
}
.catFilhas {
	font-size: 1.3em;
}
.iconeRemoverFilha {
	font-size: 0.8em;
	color: #e7e7e7;
	cursor: pointer;
	transition: 0.1s;
}
.iconeRemoverFilha:hover {
	font-size: 0.85em;
	color: #f73b29;
	cursor: pointer;
}
div.form-group.is-empty.col-md-12 label {
	font-size: 0.6em;
	font-weight: bold;
}
.iconList {
	margin-left: 5px;
}
