.action {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: right;
	display: flex;
	flex-direction: row-reverse;
}
.action .item {
	display: flex;

	align-content: center;

	width: 30px;
	height: 30px;
	/* border: 1px solid #d3d3d3; */
	cursor: pointer;
}

.action .item i {
	flex: 1;
	display: flex;
	align-self: center;
	align-items: center;
	justify-content: center;
}
.itemRemove {
	border-radius: 0px 4px 0px 0;
	color: #fff;
	background: #e74a3b;
}
.itemAdd {
	/* border-radius: 0px 4px 0px 0; */
	color: #fff;
	background: #1ad274;
}
.itemRemove:hover {
	color: #fff;
	background: #cf3021;
}
.itemAdd:hover {
	color: #fff;
	background: #07c060;
}

.catPai {
	font-size: 2em;
	margin-bottom: 0;
}
.catFilhas {
	font-size: 1.3em;
}
