<!-- <pre>{{ categoriaDespesas | json }}</pre> -->
<div class="row">
	<div
		class="card shadow h-100 margin-15 padding-45"
		*ngFor="let pai of categoriaDespesas | keyvalue"
	>
		<p class="catPai">
			{{ pai.value.no_categoria_despesa }}
		</p>
		<div class="action">
			<div class="item itemRemove">
				<i class="fas fa-trash"></i>
			</div>
			<div class="item itemAdd">
				<i class="fas fa-plus"></i>
			</div>
			<!-- <button href="#" class="btn btn-success btn-circle">
				<i class="fas fa-plus"></i>
			</button> -->
		</div>
		<div
			class="catFilhas"
			style="margin-left: 10px"
			*ngFor="let filha of pai.value.children | keyvalue"
		>
			<img
				src="assets/img/system/icons/right.png"
				width="40px"
				style="margin-top: -16px"
			/>{{ filha.value.no_categoria_despesa }}
		</div>
	</div>
</div>
