/* You can add global styles to this file, and also import other style files */

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css"; */
@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
	font-family: "Roboto", sans-serif;
}

.obrigatorio {
	color: #e34c45 !important;
	font-size: 0.5em !important;
}
.has-warning {
	color: #e6a100;
	font-weight: 700;
}

.card-1 {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	padding: 15px;
}

.card-1:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.modal-header {
	border-bottom-width: 0px !important;
}
.modal-footer {
	border-top-width: 0px !important;
}

.uploadArquivo {
	width: 250px;
	height: 200px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
}

div.ng-select-container {
	padding: 25px 0 25px 0 !important;
}
div#wrapper app-menu {
	background-color: #234bbf;
}
html body#page-top app-root div#wrapper div#content-wrapper.d-flex.flex-column div#content div.container-fluid div.col-xl-12.col-md-12.mb-4 div.h-100.py-2 div.card-body app-nova-conta div.container div.row.justify-content-center div.col-xl-10.col-lg-12.col-md-9 div.o-hidden.border-0.shadow-lg.my-5 div.p-0 div.row div.col-lg-8 div.p-5 form.user.ng-untouched.ng-pristine.ng-invalid div.form-group ng-select.ng-select.ng-select-single.ng-select-searchable.ng-select-clearable.ng-untouched.ng-pristine.ng-invalid.ng-select-opened.ng-select-bottom div.ng-select-container.ng-has-value{

}
